.idea
vendor
.env

###> Docker ###
docker/docker-compose.override.yml
###< Docker ###

###> phpunit ###
.phpunit
tools/phpunit/.phpunit.result.cache
/phpunit.xml
###< phpunit ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
.php-cs-fixer.cache
lsp
###< friendsofphp/php-cs-fixer ###

###> code coverage ###
/public/coverage/
.coverage
#/public/coverage-clover.xml
/public/coverage-badge.svg
/public/*.svg
###< code coverage ###